header {
     width: 100%;
}

#EmptyBag {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative !important;
}

#shop_more button {
     padding: 15px 20px;
     font-size: 1.4rem;
     background: #f39;
     color: white;
     border: none;
     font-weight: 600;
     cursor: pointer;
}


.show-address {
     width: 90%;
     margin: auto;
     font-size: 1rem;
     font-weight: 600;
     letter-spacing: 1px;
}

#cart-navbar {
     width: 90%;
     height: 60px;
     display: flex;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

#cart-navbar>div:first-child {
     height: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

#cart-navbar>div:first-child a {
     display: flex;
     height: 100%;
     justify-content: flex-start;
     align-items: center;
     width: fit-content;
}

#logo {
     width: 80%;
     height: 80%;
     cursor: pointer;
}



#login_div {
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}

#login_div span {
     margin-left: 7px;
     font-size: 1.3rem;
}

#cart-main {
     width: 100%;
     /* border: 1px solid red; */
}

#myBag_major {
     width: 100%;
     display: flex;
     background-color: #0092DF;
     height: 60px;
}

#myBag_minor {
     display: flex;
     margin: auto;
     height: 2rem;
     width: 90%;
     align-items: center;
}

#myBag_minor>h3 {
     font-size: 22px;
     font-weight: 600;
     letter-spacing: 1.4px;
     color: white;
}

#all_eliments {
     width: 100%;
     margin-top: 10px;
     /* border: 2px solid green; */
}

#main_div {
     width: 90%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     /* border: 2px solid blue; */
     gap: 20px;
}

#lhs_cartDiv {
     width: 70%;
     min-height: 600px;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* border: 1px solid red; */
}



#lhs_cartDiv .fav-item {
     height: 190px;
     justify-content: flex-start;
     border-bottom: 1px solid rgb(192, 188, 188);
     margin-top: 5px;
}

#lhs_cartDiv .fav-item .detail {
     justify-content: flex-start;
     height: auto;
}

#lhs_cartDiv .fav-item .detail>div>p {
     font-size: .8rem;
}

#lhs_cartDiv .fav-item .detail>div {
     margin-top: 5px;
}



#lhs_cartDiv .fav-item .detail .product-name>p {
     letter-spacing: 2px;
     text-transform: uppercase;
     font-size: 1rem;

}


#lhs_cartDiv .fav-item .detail .product-desc>p {
     font-size: 1rem;
     font-weight: 600;
}

#lhs_cartDiv .fav-image {
     width: auto;
     height: 90%;
}

#lhs_cartDiv .move-remove {
     justify-content: flex-start;
     margin-top: 25px !important;

}

#lhs_cartDiv .move-remove button {
     color: black;
     opacity: .7;
     text-decoration: underline;
}

#lhs_cartDiv .move-remove button:hover {
     opacity: 1;
     color: #f39;
}

#lhs_cartDiv .move-remove>div:last-child {
     margin-left: 40px;
}


.fav-item-last {
     padding-top: 30px;
     width: 40%;
     height: 100%;
     /* border: 1px solid red; */
     display: flex;
     justify-content: space-between;
}

.fav-item-last .product-price {
     white-space: nowrap;
     padding-right: 20px;
}

.fav-item-last>div:first-child {
     width: 100%;
     height: fit-content;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.fav-item-last span {
     font-size: 1.5rem;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     opacity: .7;
     margin-right: 5px;
}

.fav-item-last select {
     width: 40px;
     height: 30px;
}






#rhs_div {
     width: 30%;
     display: flex;
     flex-direction: column;
}

#promo_code {
     display: flex;
     text-align: center;
     width: 100%;
     font-size: 20px;
     margin-top: 1rem;
     margin-bottom: 2rem;
     padding: 15px 0;
     background-color: #F2F2F2;
     justify-content: center;
     align-items: center;
}

#promo_code:hover {
     color: #f39;
     cursor: pointer;
}

#promoCode {
     width: 25px;
     margin-right: 5px;
}

#total_div {
     width: 100%;
     display: flex;
     flex-direction: column;
}

#item_details {
     width: 100%;
     margin: auto;
     display: flex;
     padding: 30px 0;
     font-size: 17px;
     font-family: Avenir-Next, sans-serif;
     flex-direction: column;
     background-color: #F2F2F2;
}

#item_details>div {
     width: 80%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

#overview {
     width: 80%;
     margin: auto;
     font-size: 1.1rem;
}

#item_details>div {
     width: 80%;
     margin: auto;
     margin-top: 10px;
}

#discount {
     color: #f39;
}

#total span {
     font-weight: 700;
     font-size: 1.3rem;

}

#line {
     margin: auto;
     width: 75%;
     height: 2px;
     background: black;
}

#total_div>button {
     padding: 15px;
     font-size: 1.2rem;
     margin-top: 1rem;
}

.checkout {
     background-color: #f39;
     color: white;
     font-size: 15px;
     font-weight: 800;
     border: 0px;
     cursor: pointer;
}

.shop_more {
     font-size: 15px;
     background-color: white;
     font-weight: 800;
     cursor: pointer;
}

.shop_more:hover {
     color: #f39;
     border-color: #f39;
     transition: 200ms;
}

#bank_discount {
     margin-top: 1rem;
}

@media all and (min-width:250px) and (max-width:780px) {
     #main_div {
          width: 100%;
          margin: auto;
          display: flex;
          flex-direction: column;
     }

     #lhs_cartDiv {
          width: 100%;
          border: 1px solid red;
     }

     #rhs_div {
          width: 100%;
          display: flex;
          flex-direction: column-reverse;
     }
}