/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(130, 106, 251);
}

#outer-container{
   width:80%;
  
   margin:10px auto;
   display:flex;
   border: 1px solid black;
   justify-content: space-between;
}

#outer-container>div{
    
    width:48%;
    border: 1px solid black;
}

#outer-container>div:first-child{
    text-align: center;
    height:100%;
}
#outer-container>div:last-child{
    text-align: center;
    /* height:100%; */
}

#outer-container>div>div>img{
    /* height:80vh; */
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .create-form {
  margin-top: 30px;
}
.create-form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.create-form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.create-form .column {
  display: flex;
  column-gap: 15px;
}
.create-form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.create-form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.create-form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(106, 251, 125);
}
.create-form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.create-form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(106, 251, 118);
}
.create-form button:hover {
  background: rgb(72, 250, 56);
}
/*Responsive*/
@media screen and (max-width: 500px) {
 .create-form .column {
    flex-wrap: wrap;
  }
  .create-form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
